.App {
  margin: 0;
  padding: 0;
}
nav {
  margin: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.navbar div {
  margin-right: 2rem;
}
.container {
  margin-top: 4rem;
  margin-left: 2rem;
}
button {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font: 1.2rem;
  margin-left: 1rem;
}
a {
  text-decoration: none;
}
.assets-container {
  margin-right: 2rem;
}
.title {
  margin-top: 1rem;
}
.claim {
  margin: 0.6rem;
}
.main {
  margin-left: 3rem;
}
input {
  margin: 0.6rem;
}
